@charset "UTF-8";

html {
    font-size: 100%;
    font-family: 'Rokkitt', serif;
}

section {
    height: 100vh;
    margin: 0 10%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    padding: 0 10%;
    position: sticky;
    top: 0;
    background-color: rgba(150, 217, 238, 0.7);
}

.title-logo {
    margin-top: 2%;
    margin-bottom: 0;
}

.title-logo a:hover {
    opacity: 0.7;
}

.logo {
    width: 14rem;
}

/* Menu Navigation */
.menu-nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 6%;
    padding-bottom: 0;
    margin: 0;
    /*padding: 10% 0;*/
}

.menu-nav li a {
    color: black;
    font-size: large;
    text-decoration: none;
    margin: 0 0;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    /*padding-top: 100%;
    padding-bottom: 100%;*/
    position: relative;
    text-align: center;
}

.menu-nav li a:hover {
    color: rgba(38, 0, 255, 0.925);
    background-color: chartreuse;
}

.menu-nav a:hover::before {
    transform-origin: center top;
    transform: scale(1, 1);
}

/* Footer */
footer {
    background: #00a9ff;
    text-align: center;
    padding: 0.15rem 0;
}

footer p {
    color: white;
    font-size: 1.1rem;
}

/* モバイル版 */
@media screen and (max-width: 820px) {
    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-nav {
        padding-top: 0;
        padding-bottom: 0.6rem;
        /*padding: 0.6rem 0;*/
    }
}